@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    min-height: 100vh;
    background-color: #0A1422;
}
main {
    padding: 30px;
}
.mini-header {
    margin-bottom: 30px;
    text-align: left;
    justify-content: flex-start;
}
.comunicados {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.textocom {
    font-size: 19px;
    font-weight: 500;
    color: #e3e9f7;
}
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #07121F;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 180px;
    z-index: 2;
}
#sidebar-content {
    padding: 15px;
}
#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}
#user-avatar {
    width: 75px;
    height: 65px;
}

#user-infos {
    display: flex;
    flex-direction: column;
}
.item-descricao {
    color: #e3e9f7;
}

#user-infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#side-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}
.side-item:hover {
    background-color: #0f1a29;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #e3e9f7;
    gap: 5px;
}
.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}
#sair {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}
#sair-button {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
    color: #e3e9f7;
}
#sair-button:hover {
    background-color: #0f1a29;
}
.Imagem {
    width: 85px;
    height: 75px;
    margin-left: auto;
    margin-right: 10px;
}
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #f5f5f5;
}

.search-box input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.corpo-pag {
    min-height: 835px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 2%;
}
.corpo-content {
    max-width: 870px;
}
.corpo-content h1 {
    max-width: 850px;
    font-size: 90px;
    font-family: "Arial", sans-serif;
    line-height: 0.95;
    letter-spacing: 2px;
    padding-bottom: 2px;
    font-weight: normal
}
.corpo-content h1 span{
    color: #2563EB;
}
.corpo-content > p:not(.tag) {
    color: #9da69f;
    font-size: 20px;
    line-height: 1.6;
    max-width: 650px;
}